<div style="padding: 0%; margin: 0px">
  <div class="main-container">
    <div class="left-container">
      <div class="leftProductImg">
        <ng-image-slider [images]="imageObject" [imageSize]="{ width: '100%', height: '50%' }" #nav></ng-image-slider>
      </div>
      <div style="padding-top: 1.5rem">
        <div style="font-size: 2.5rem; margin-bottom: 1rem; font-weight: lighter">Basic Q/A about the place</div>
        <div class="QA card">
          1. Do you have an attached Bathroom?

          <p>Ans: No, We don't have an attached bathroom, we common shared 3 Bathroom and 2 toilets in the building</p>

          <br />
          1) Do you have an attached Bathroom?
          <br />
          <p>Ans: No, We don't have an attached bathroom, we common shared 3 Bathroom and 2 toilets in the building</p>

          <br />
          1) Do you have an attached Bathroom? <br />
          <p>Ans: No, We don't have an attached bathroom, we common shared 3 Bathroom and 2 toilets in the building</p>

          <br />
          1) Do you have an attached Bathroom? <br />
          <p>Ans: No, We don't have an attached bathroom, we common shared 3 Bathroom and 2 toilets in the building</p>
          <br />

          1) Do you have an attached Bathroom? <br />
          <p>Ans: No, We don't have an attached bathroom, we common shared 3 Bathroom and 2 toilets in the building</p>

          <br />
          1) Do you have an attached Bathroom? <br />
          <p>Ans: No, We don't have an attached bathroom, we common shared 3 Bathroom and 2 toilets in the building</p>
        </div>
      </div>
      <div style="padding-top: 1.5rem">
        <div style="font-size: 2.5rem; margin-bottom: 1rem; font-weight: lighter">Accommodation Policies</div>
        <div class="card" style="padding: 1rem; background-color: white; border-radius: 1rem">
          <ul *ngFor="let policy of accomodatioPoliciesList">
            <li>{{ policy.policies }}</li>
          </ul>
        </div>
      </div>
      <div style="padding-top: 1.5rem">
        <div style="font-size: 2.5rem; margin-bottom: 1rem">Fee Covers</div>
        <div class="featuresBox-Items card" style="padding: 1rem; background-color: white; border-radius: 1rem">
          <span *ngIf="selectedRoomData.feeDetails.wifi" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/wifi.svg" alt="" />
            </div>
            <div class="featureText">Wi-Fi</div>
          </span>
          <span *ngIf="selectedRoomData.feeDetails.meals" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/meal.svg" alt="" />
            </div>
            <div class="featureText">Meals</div>
          </span>
          <span *ngIf="selectedRoomData.feeDetails.laundary" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/laundry.svg" alt="" />
            </div>
            <div class="featureText">Laundry</div>
          </span>
          <span *ngIf="selectedRoomData.feeDetails.electricBill" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/electricity.svg" alt="" />
            </div>
            <div class="featureText">Electric Bills</div>
          </span>
          <span *ngIf="selectedRoomData.feeDetails.roomSpace" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/roomspace.svg" alt="" />
            </div>
            <div class="featureText">Room Space</div>
          </span>
        </div>
      </div>
    </div>
    <div class="right-container">
      <div class="MobileProducImg">
        <ng-image-slider [images]="imageObject" [imageSize]="{ width: '100%', height: '50%' }" #nav></ng-image-slider>
      </div>
      <div class="place-details">
        <div class="title-left">
          <div style="width: fit-content; height: fit-content; font-size: 2.5rem; font-weight: lighter">
            Place Details
          </div>
        </div>
        <div class="title-right">
          <div style="margin-right: 1rem; display: flex; justify-content: center; align-items: center">
            <div style="height: fit-content; width: fit-content; font-size: 2rem">
              Rs. {{ selectedRoomData.feeDetails.price }} <span style="font-weight: lighter">/month</span>
            </div>
          </div>
          <div *ngIf="UserType != 'Landlord'">
            <button
              *ngIf="!isBookedbyuser && !isStatusBooked"
              (click)="REQUESTBOOKING()"
              style="margin: 0 auto; background-color: green; color: white"
              mat-flat-button
            >
              Request to book
            </button>
            <button *ngIf="isStatusBooked" style="margin: 0 auto; background-color: red; color: white" mat-flat-button>
              Booked
            </button>
            <button
              *ngIf="isBookedbyuser"
              disabled
              style="margin: 0 auto; background-color: rgb(0, 157, 255); color: white"
              mat-flat-button
            >
              In Process
            </button>
          </div>
        </div>
      </div>
      <div class="description card" style="padding-bottom: 10px">
        <div *ngIf="selectedRoomData.description.length == 0" class="maindisc">
          The description for this room is not currently avialable, please see its features and other facilities to
          assess the product.
        </div>
        <div *ngIf="selectedRoomData.description.length >= 1" class="maindisc">
          {{ selectedRoomData.description }}
        </div>
        <div class="isCheckedStatus">
          <div class="Ischeckedimg">
            <img
              class="checkNotCheckClass"
              style="width: 100px; height: 100px; background: no-repeat"
              src="{{ selectedRoomData.isChecked ? 'assets/Icon/17.png' : 'assets/Icon/18.png' }}"
              alt=""
            />
          </div>
          <div style="font-weight: lighter">
            <div [ngStyle]="{ color: selectedRoomData.isChecked ? 'green' : 'red' }" style="font-weight: bold">
              {{ selectedRoomData.isChecked ? 'Checked' : 'Not Checked' }}
            </div>
            {{
              selectedRoomData.isChecked
                ? 'We have personally visited the place and checked every services and detailed presented in the page. If you
            would like to know how we did, then feel free to contact us.'
                : 'The Following room has not been checked by KUoom Officials and therefore is not liable for any misInformation caused by the inforamtion displayed. If you
                would like to know how we did, then feel free to contact us.'
            }}
          </div>
        </div>
      </div>
      <div style="padding-top: 1.5rem">
        <div style="font-size: 2.5rem; margin-bottom: 1rem; font-weight: lighter">Facilities</div>
        <div class="featuresBox-Items card">
          <span *ngIf="selectedRoomData.capacity != 'Unavailable'" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/people.svg" alt="" />
            </div>
            <div class="featureText" style="width: 55px">{{ selectedRoomData.capacity }} People</div>
          </span>
          <span *ngIf="selectedRoomData.feeDetails.wifi" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/wifi.svg" alt="" />
            </div>
            <div class="featureText">Wi-Fi</div>
          </span>
          <span *ngIf="selectedRoomData.feeDetails.meals" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/meal.svg" alt="" />
            </div>
            <div class="featureText">Meals</div>
          </span>
          <span *ngIf="selectedRoomData.feeDetails.laundary" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/laundry.svg" alt="" />
            </div>
            <div class="featureText">Laundry</div>
          </span>

          <span *ngIf="selectedRoomData.furnishedDetails.objects.hasBed" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/bed.svg" alt="" />
            </div>
            <div class="featureText">Bed</div>
          </span>

          <span *ngIf="selectedRoomData.furnishedDetails.objects.hasBed" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/window.svg" alt="" />
            </div>
            <div class="featureText">Window</div>
          </span>

          <span *ngIf="selectedRoomData.furnishedDetails.objects.hasDesk" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/desk.svg" alt="" />
            </div>
            <div class="featureText">Desk</div>
          </span>

          <span *ngIf="selectedRoomData.furnishedDetails.objects.hasChair" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/chair.svg" alt="" />
            </div>
            <div class="featureText">Chair</div>
          </span>
          <span *ngIf="selectedRoomData.furnishedDetails.objects.hasCupBoard" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/cupboard.svg" alt="" />
            </div>
            <div class="featureText">Cupboard</div>
          </span>
          <span *ngIf="selectedRoomData.facilities.terrance" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/terrace.svg" alt="" />
            </div>
            <div class="featureText">Terrace</div>
          </span>

          <span *ngIf="selectedRoomData.facilities.AC" class="featurebox">
            <div>
              <img class="featureIMG" src="assets/Icon/roomprofile/airconditioner.svg" alt="" />
            </div>
            <div class="featureText">AC</div>
          </span>
        </div>
      </div>
      <div style="padding-top: 1.5rem">
        <div style="font-size: 2.5rem; margin-bottom: 1rem; font-weight: lighter">About the LandLord</div>
        <div
          class="landlordCard card"
          style="display: flex; padding: 1rem; background-color: white; border-radius: 1rem"
        >
          <div class="landlordprofilepic">
            <img *ngIf="!LandlordImgtrue" src="assets/Icon/roomprofile/user.png" alt="" />
            <img *ngIf="LandlordImgtrue" src="{{ LandlordDetails[0].imgUrl }}" alt="" />
          </div>
          <div class="landlorddetails">
            <div class="name" style="display: flex; font-size: 2rem">
              <div>{{ selectedRoomData.landLordDetails.fullName }}</div>
              <div *ngIf="selectedRoomData.landLordDetails.isTrusted">
                <span class="material-icons" style="color: green !important; font-size: 14px"> beenhere </span>
              </div>
              <div *ngIf="selectedRoomData.landLordDetails.isTrusted" style="font-size: 1rem; font-weight: lighter">
                Trusted LandLord
              </div>
            </div>
            <div *ngIf="!isBookedbyuser" style="padding: 10px 0px; color: red">
              Book the room to get access to landlord's Contact.
            </div>
            <div *ngIf="isBookedbyuser" style="font-weight: lighter">
              {{ selectedRoomData.landLordDetails.email }}
            </div>
            <div *ngIf="isBookedbyuser" style="font-weight: lighter">
              {{ selectedRoomData.landLordDetails.phone }}
            </div>
            <div *ngIf="isSuperUser">
              <div style="font-weight: lighter">
                {{ selectedRoomData.landLordDetails.email }}
              </div>
              <div style="font-weight: lighter">
                {{ selectedRoomData.landLordDetails.phone }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding-top: 1.5rem">
        <div style="font-size: 2.5rem; margin-bottom: 1rem; font-weight: lighter">Location</div>
        <div class="map card" *ngIf="!mapError">
          <iframe
            [src]="UsableEmbbedCode"
            width="95%"
            height="700"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
        <div class="map card" style="color: red" *ngIf="mapError">The Location of this Room is Unavailable</div>
      </div>
    </div>
  </div>
  <div class="mobileBottomMoneyDetails">
    <div>
      <h2 style="padding: 0%; margin: 0px">
        Rs. {{ selectedRoomData.feeDetails.price }}
        <span style="font-weight: lighter; padding: 0%; margin: 0%"> /month</span>
      </h2>
      <p style="padding: 0%; margin: 0px; font-weight: lighter; font-size: 1.5rem">Can unbook within 15days.</p>
    </div>
    <div *ngIf="UserType != 'Landlord'" style="margin-right: 0.5rem; padding-right: 1rem">
      <button
        *ngIf="!isBookedbyuser && !isStatusBooked"
        (click)="REQUESTBOOKING()"
        style="margin: 0 auto; background-color: green; color: white"
        mat-flat-button
      >
        Request to book
      </button>
      <button *ngIf="isStatusBooked" style="margin: 0 auto; background-color: red; color: white" mat-flat-button>
        Booked
      </button>
      <button
        *ngIf="isBookedbyuser"
        disabled
        style="margin: 0 auto; background-color: rgb(0, 157, 255); color: white"
        mat-flat-button
      >
        In Process
      </button>
    </div>
  </div>
</div>
