<div style="padding: 0%;margin: 0px;">
<div class="main-container">
    <div class="left-container">
        <div class="leftProductImg"> 
            <ng-image-slider [images]="imageObject" [imageSize]="{width: '100%', height: '50%'}" #nav></ng-image-slider>
        </div>
        <div style="padding-top: 1.5rem;">
            <div style="font-size: 2.5rem; margin-bottom: 1rem;">
                Basic Q/A about the place
            </div>
            <div class="QA">
                1) Do you have an attached Bathroom?
             
                <p> Ans: No, We don't have an attached bathroom, we common shared 3 Bathroom and
                2 toilets in the building </p>
            
                <br>
                1) Do you have an attached Bathroom?
                <br>
                <p> Ans: No, We don't have an attached bathroom, we common shared 3 Bathroom and
                    2 toilets in the building </p>
                
                <br>
                1) Do you have an attached Bathroom? <br>
                <p> Ans: No, We don't have an attached bathroom, we common shared 3 Bathroom and
                    2 toilets in the building </p>
            
                <br>
                1) Do you have an attached Bathroom? <br>
                <p> Ans: No, We don't have an attached bathroom, we common shared 3 Bathroom and
                    2 toilets in the building </p>
                <br>
                
                1) Do you have an attached Bathroom? <br>
                <p> Ans: No, We don't have an attached bathroom, we common shared 3 Bathroom and
                    2 toilets in the building </p>
                
                <br>
                1) Do you have an attached Bathroom? <br>
                <p> Ans: No, We don't have an attached bathroom, we common shared 3 Bathroom and
                    2 toilets in the building </p>
            </div>
        </div>
        <div style="padding-top: 1.5rem;">
            <div style="font-size: 2.5rem; margin-bottom: 1rem;">
                Accommodation Policies
            </div>
            <div style=" padding: 1rem; background-color: white; border-radius: 1rem;">
              <ul>
                  <li> First month rent should be paid in advance. </li>
                  <li> After book, the room will be in reserved for 10 Days. If the student is unable to
                    pay or occupy the room the booking shall be deemed void.</li>
                    <li>The Contract shall be signed once the students come to live in the accomodation</li>
                    <li>Student can cancel the booking within 15 days after booking.</li>
              </ul>
            </div>
        </div>


    </div>
    <div class="right-container">
        <div class="MobileProducImg">
            <ng-image-slider [images]="imageObject" [imageSize]="{width: '100%', height: '50%'}" #nav></ng-image-slider>
        </div>
        <div class="place-details">

            <div class="title-left" >
                <div style="width: fit-content;height: fit-content; font-size: 2.5rem;">
                Place Details
                </div>
            </div>
            <div class="title-right">
                <div style= "margin-right: 1rem; display: flex; justify-content: center; align-items: center;">
                    <div style=" height: fit-content; width: fit-content; font-size: 2rem;">
                        Rs.10,000 <span style="font-weight: lighter;">/month</span>
                    </div>
                </div>
                <div>
                    <button
                    style="margin: 0 auto; background-color: green; color: white;"
                    mat-flat-button>Request to book</button>

                    
                </div>
                <!-- <div>
                    <img src="assets/Icon/19.png" alt="">
                </div> -->
            </div>

        </div>
        <div class="description">
            <div class="maindisc">
                Yellow makes you feel happy and spontaneous.
                Yellow is perhaps the most energetic of the warm
                colors. It is associated with laughter, hope and
                sunshine. Accents of yellow help give your design
                energy and will make the viewer feel optimistic and
                cheerful.
            </div>
            <div class="isCheckedStatus">
                <div class="Ischeckedimg">
                    <img style="width: 100%; height: 100%; background: no-repeat;" src="assets/Icon/17.png" alt="">
                </div>
                <div style="font-weight: lighter;">
                    <div style="font-weight: bold; color: green;">
                        Checked
                    </div>
                    We have personally visited the place and
                    checked every services and detailed
                    presented in the page.
                    <br>
                    If you would like to know how we did, then feel free to contact us.
                </div>
            </div>
        </div>
        <div style="padding-top: 1.5rem;">
            <div style="font-size: 2.5rem; margin-bottom: 1rem;">
                Features
            </div>
            <div style="display: flex; padding: 1rem; background-color: white; border-radius: 1rem;">
                <div class="featurebox">
                    <div class="feature1" >
                        <img src="assets/Icon/15.png" alt="">
                    </div>
                    Furnished
                </div>
                <div class="feature2" >
                    <div style="height:10vh; width: 100%; " >
                        <img src="assets/Icon/14.png" alt="">
                    </div>
                    2 Windows
                </div>
                <div class="feature3" >
                    <div style="height:10vh; width: 100%; " >
                        <img src="assets/Icon/13.png" alt="">
                    </div>
                    2 Bulbs
                </div>
            </div>
        </div>
        <div style="padding-top: 1.5rem;">
            <div style="font-size: 2.5rem; margin-bottom: 1rem;">
                About the LandLord
            </div>
            <div style="display: flex; padding: 1rem; background-color: white; border-radius: 1rem;">
              <div class="landlordprofilepic" >
                  <img src="assets/Icon/profile.png" alt="">
              </div>
              <div class="landlorddetails">
                <div class="name" style="display: flex; font-size: 2rem; ">
                    <div>
                        Prajeet Shrestha 
                    </div>
                    <div>
                     <span class="material-icons" style="color:green !important;" >
                            beenhere
                            </span> 
                        
                    </div>
                    <div style="font-size:1rem; font-weight: lighter;"> Trusted LandLord </div>
                 
                </div>
                <div style="font-weight: lighter;">
                    Kuuooom@kuoom.net
                </div>
                <div style="font-weight: lighter;"> 
                    98231314123
                </div>
              </div>
            </div>
        </div>
        <div style="padding-top: 1.5rem;">
            <div style="font-size: 2.5rem; margin-bottom: 1rem;">
                Location
            </div>
            <div class="map">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1767.4880513197816!2d85.53935492603244!3d27.625256772121645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb08ddf9285c83%3A0x8d8fea7e5dbf887d!2s28%20Kilo%2C%20Dhulikhel%2045200!5e0!3m2!1sen!2snp!4v1602685559445!5m2!1sen!2snp"
                width="95%" height="700" frameborder="0" style="border:0" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
           
        </div>
    </div>
    
    
</div>
<div class="mobileBottomMoneyDetails">
 <div>
     <h2 style="padding: 0%; margin: 0px;">  Rs. 3000 <span style="font-weight: lighter; padding: 0%;margin: 0%;"> /month</span></h2>
     <p style="padding: 0%; margin: 0px; font-weight: lighter; font-size: 1.5rem;"> Can unbook within 15days. </p>
</div>
 <div style="margin-right: .5rem; padding-right: 1rem;">
    <button
    style="background-color: green; color: white;"
    mat-flat-button>Request to book</button>

    
</div>
</div>
</div>