* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;

  /* overflow-y: scroll; */
  display: flex;
  background-color: #ebebeb;
 
}

.left-container {
  background: white;
  flex: 1 1 20rem;
}

.right-container {
  background:gray;
  flex: 1 1 20rem;
  display: flex;
  flex-direction: column;
  padding-top:5rem;
}

.place-details .title {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.place-details .title-left {
  flex: 1 1 20rem;
}
.place-details .title-right {
  flex: 1 1 20rem;
  display: flex;
  justify-content: flex-start;
}
.place-details .title-right button {
  padding: 0rem 2rem;
  border: none;
  margin-left: 2rem;
  font-size: 1.8rem;
  background: green;
  color:white;
}
.place-details .title h2 {
  font-size: 3rem;
  margin-left: 2rem;
  margin-top:2rem;
}
.price-detail {
  font-size: 3rem;
  margin-top: 1.8rem;
}
.price-detail span {
  font-size: 2rem;
}
.title-right img {
  width: 2%;
  position: absolute;
  right: 1.5%;
  top: 10%;
}

.right-container .description {
  width: 95%;
  margin: 1rem auto;
  background: white;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
}
.description .text-description {
  flex: 1 1 30rem;
}
.description .checking-details {
  flex: 1 1 30rem;
  padding-left: 15rem;
}
.description .checking-details button {
  padding: 0.5rem 4rem;
  border: none;
  margin-bottom: 1rem;
  font-size: 2rem;
  background: green;
  color:white;
}

.features{
    width:95%;
    margin:1.5rem auto;
}
.features h2{
    font-size: 3rem;
}
.features .features-detail{
    background: white;
    border-radius: 2rem;
    padding:3rem;
    display: flex;
}
.features-detail .features-assets{
    display: flex;
    flex: 1 1 20rem;
    justify-content: space-evenly;
}

.features-assets p{
    font-size: 2rem;
}
.features-detail .show-more{
font-size: 2rem;
display: flex;
flex-direction: column;
}

.landlord{
    display: flex;
    margin-left:2rem;
    flex-direction: column;
    width:95%;
}
.landlord h2{
    font-size: 3rem;
    margin-top:2rem;
}
.landlord  img{
   width:10%;
   border-radius: 50%; 
}
.landlord .landlord-details {
    display: flex;
   background: white;
   border-radius: 2rem;
   padding:2rem;
   width:100%;
}
.landlord-details p{
   
    margin:0 0 0.1rem 1rem;
}
.landlord-identity:first-child{
    font-size: 3rem;
}

.location{
    width:95%;
    margin:0 auto 5rem auto;
    
}
.location h2{
    font-size: 3rem;
    margin-top:3rem;
}
.location .map{
    background: white;
    border-radius: 2rem;
    width:100%;
    
}
.map iframe{
    margin: 2rem;
}