<div class="main-container">
    <div class="left-container">

    </div>
    <div class="right-container">
        <div class="place-details">
            <div class="title">
                <div class="title-left">
                    <h2>Place Details</h2>
                </div>
                <div class="title-right">
                    <p class="price-detail">
                        Rs.10,000 <span>/month</span>
                    </p>
                    <button>Request to book</button>
                    <img src="../../../../../assets/Icon/unlike.png" alt="">
                </div>
            </div>
        </div>
        <div class="description">
            <div class="text-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptatum culpa quo nulla
                necessitatibus, nesciunt exercitationem molestias sunt dignissimos doloremque quas aspernatur, vero,
                numquam in itaque iste enim. Adipisci, itaque.
            </div>
            <div class="checking-details">
                <button>Checked</button>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, sint?</p>
                <a href="#">Learn more about it</a>
            </div>
        </div>
        <div class="features">
            <h2>Features</h2>
            <div class="features-detail">
                <div class="features-assets">
                    <p>1 Room</p>
                    <p>3 Bulb Lights</p>
                </div>
                <div class="show-more">
                    <p>show more</p>
                </div>
            </div>
        </div>
        <div class="landlord">
            <h2>About the LandLord</h2>
            <div class="landlord-details">
                <img src="../../../../../assets/img/profile.jpg" alt="">
                <div class="landlord-identity">
                    <p>Mr.Prajeet Shrestha</p>
                    <p>email@gmail.com</p>
                    <p>9860103098</p>
                    <div class="people-hosted">
                        <p>Hosted 10 People from KUoom</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="location">
            <h2>Location</h2>
            <div class="map">
                    <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1767.4880513197816!2d85.53935492603244!3d27.625256772121645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb08ddf9285c83%3A0x8d8fea7e5dbf887d!2s28%20Kilo%2C%20Dhulikhel%2045200!5e0!3m2!1sen!2snp!4v1602685559445!5m2!1sen!2snp"
                    width="95%" height="700" frameborder="0" style="border:0" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>