.main-container{
    background-color: #F4B436;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 1rem;
    color: #000;
}


.mid-container{
    padding: 1rem;
    margin: 8vh auto;
    width: 30%;
    height: 83vh;
    background-color: #FFFFFF;
    border-radius: 6%;
}

.title{
    
    font-size: 1.5rem;
    text-align: center;
}
.mat-tab-group {
    font-size: 2rem;
  }
.mat-tab-group > .mat-tab{
    justify-content: space-between;
}


:ng-deep.mat-tab-label-content{
  font-weight: bold;
  color: black !important;
}

.login-form{
  padding: 1.3rem;
}

.mat-form-field{
    height: 8vh;
}
.login-form .firstnamefield{
  margin: 0 auto;
  margin-left: 2.7rem;
  width: 40%;
  font-size: 1.7rem;
}

.login-form .lastnamefield{
    margin: 0 auto;
    width: 40%;
    margin-left: -.2rem;
    font-size: 1.7rem;
  }

.login-form .emailfield{
  margin: 0 auto;
  margin-left: 2.7rem;
  font-size: 1.7rem;
 width: 87%;
}

.login-form  .passwordfield{
  margin: 0 auto;
  margin-left: 2.7rem;
  font-size: 1.7rem;
 width: 87%;

}

.login-form  .phonenofield{
    margin: 0 auto;
    margin-left: 2.7rem;
    font-size: 1.7rem;
   width: 87%;
  
  }

.mat-raised-button{
  width: 85%;
  color: white;
  margin: 0 auto;
  margin-left: 3.5rem;
}

hr{
  border: 1px solid grey;
  width: 88%;
  margin-top:1.5rem;
  margin-left: 2.7rem;
}


