<div class="main-container">
  <div class="nav">
    <div class="tabs">
      <mat-tab-group id="TenantProfile" animationDuration="0ms" dynamicHeight (click)="eventCatcher($event)">
        <mat-tab label=" {{ 'profile.tenant.YourBooking' | translate }} ">
          <div class="Bookings">
            <div class="YourBooking-title">
              <h2>{{ 'profile.tenant.YourBooking' | translate }}</h2>
            </div>
            <div class="BookedProducts">
              <div *ngFor="let product of BOOKINGLIST_USABLE_DATA">
                <app-room-product-card
                  [productObj]="product"
                  [imgUrl]="product.url"
                  [Location]="product.location"
                  [date]="product.date"
                  [status]="product.status"
                  [like]="product.like"
                  [title]="product.title"
                  [subTitle]="product.subtitle"
                  [price]="product.price"
                ></app-room-product-card>
              </div>
            </div>
            <div class="info">
              <div style="text-align: center">
                <h2 style="padding: 0%; margin: 0%">{{ 'profile.tenant.infoTitle' | translate }}</h2>
                <p style="font-weight: lighter">{{ 'profile.tenant.infoSubtitle' | translate }}</p>
              </div>
              <div style="margin: 0 auto; width: fit-content">
                <button
                  (click)="gotosearchRoom()"
                  style="margin: 0 auto; background-color: green; color: white"
                  mat-flat-button
                >
                  {{ 'profile.tenant.Searchforanotherhalf' | translate }}
                </button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="{{ 'profile.tenant.profile' | translate }}">
          <app-userprofile
            [FirstName]="UserDetails.Fname"
            [LastName]="UserDetails.Lname"
            [Email]="UserDetails.email"
            [Phone]="UserDetails.phone"
            [uid]="LocalStorageUserDetails.uid"
            [isVerifed]="isVerifiedEmail"
          ></app-userprofile>
        </mat-tab>
        <mat-tab label="Favorites">
          <div class="Favorites">
            <div class="YourBooking-title">
              <h2>My Favourites</h2>
            </div>
            <div class="FavContainer">
              <div class="favimgContainer">
                <img src="assets/Icon/5.png" alt="" class="product-img" />
              </div>
              <div style="padding: 1rem">
                <h3 style="padding: 0px; margin-bottom: 1rem">Why is it so hard to find my better half.</h3>
                <p style="font-weight: lighter">
                  Whenever you find a place you really like, click on the heart icon to save it to your favourites!
                </p>
              </div>
            </div>
            <div class="info">
              <div style="text-align: center">
                <h2 style="padding: 0%; margin: 0%">Keeping looking for the place to call your home</h2>
                <p style="font-weight: lighter">Browse your favourites or continue searching for your future home</p>
              </div>
              <div style="margin: 0 auto; width: fit-content">
                <button
                  (click)="gotosearchRoom()"
                  style="margin: 0 auto; background-color: green; color: white"
                  mat-flat-button
                >
                  Search for an other half
                </button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Invite Friends">
          <div class="Favorites">
            <div class="YourBooking-title">
              <h2>Invite Friends</h2>
            </div>
            <div class="InviteFrn">
              <div class="invFrnContainer">
                <img src="assets/Icon/6.png" alt="" class="product-img" />
              </div>
              <div style="padding: 1rem">
                <h3 style="padding: 0px; margin-bottom: 1rem">
                  Invite Friends to get yourself that extra 5% Discount on your first rent payment.
                </h3>
                <p style="font-weight: lighter">
                  This Feature is not available in your place. Sorry for the inconveinece caused!
                </p>
              </div>
            </div>
            <div class="info">
              <div style="text-align: center">
                <h2 style="padding: 0%; margin: 0%">Keeping looking for the place to call your home</h2>
                <p style="font-weight: lighter">Browse your favourites or continue searching for your future home</p>
              </div>
              <div style="margin: 0 auto; width: fit-content">
                <button
                  (click)="gotosearchRoom()"
                  style="margin: 0 auto; background-color: green; color: white"
                  mat-flat-button
                >
                  Search for an other half
                </button>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
