<div class="product-card">
  <div class="imgcontainer" id="imgContainer">
    <img *ngIf="imgObj.length <= 1" src="{{ imgUrl }}" class="product-img" alt="" />
    <ng-image-slider
      *ngIf="imgObj.length >= 2"
      [images]="imgObj"
      [imagePopup]="false"
      [imageSize]="sliderSizeOption"
      #nav
    ></ng-image-slider>
  </div>
  <div class="product-details">
    <div class="top1">
      <div class="title" (click)="RoomProfileNavigate(productObj)">
        <div style="margin-right: 4px">
          {{ title }}
        </div>
        <div style="font-weight: lighter; font-size: 12px">
          <span *ngIf="capacity > 0"> {{ capacity }} Person </span>
          <span *ngIf="chair"> • Chair </span>
          <span *ngIf="bed"> • Bed </span>
          <span *ngIf="cupboard"> • Cupboard</span>
          <span *ngIf="table"> • Desk </span>
        </div>
      </div>
      <div *ngIf="isPending_LANDLORD" class="Requestedby" style="font-weight: lighter">
        Requested By
        <span style="font-weight: normal; color: rgb(14, 102, 235); cursor: pointer"> {{ applicantName }} </span>
      </div>
      <div
        *ngIf="!isPending_LANDLORD && !CanDeleteorEdit"
        (click)="updatelike(productObj)"
        class="love"
        [ngClass]="{ like: like }"
      ></div>
      <div class="candeleteicons" *ngIf="CanDeleteorEdit">
        <img
          class="CanDeleteeditClass"
          (click)="editRoom(productObj.id)"
          src="assets/Icon/edit.svg"
          alt=""
          style="margin-right: 20px"
        />

        <img class="CanDeleteeditClass" (click)="DeleteRoom(productObj.id)" src="assets/Icon/delete.svg" alt="" />
      </div>
    </div>

    <div class="top2" (click)="RoomProfileNavigate(productObj)">
      <div class="subtitle">
        {{ subTitle }}
      </div>
    </div>
    <div class="top3" (click)="RoomProfileNavigate(productObj)">
      <div style="color: #1a4789" class="location-icon material-icons">room</div>
      <div class="location">
        {{ Location }}
      </div>
    </div>
    <div (click)="RoomProfileNavigate(productObj)" class="price">
      <span class="mainprice"> {{ price }}</span>
      <span class="permonth">/month</span>
    </div>
    <div (click)="RoomProfileNavigate(productObj)" class="bottom1">
      <div class="date">{{ date }}</div>
      <div style="display: flex">
        <div
          *ngIf="!isPending_LANDLORD"
          class="status"
          [ngClass]="{ available: status == 'Available', pending: status == 'Pending', booked: status == 'Booked' }"
        >
          {{ status }}
        </div>
        <div
          *ngIf="!isPending_LANDLORD && isChecked"
          class="status"
          style="background-color: #0cb9c1; margin-left: 10px"
          [ngClass]="{ available: status == 'Available', pending: status == 'Pending', booked: status == 'Booked' }"
        >
          Checked
        </div>
      </div>
      <!-- <div
        *ngIf="!isPending_LANDLORD"
        class="status"
        [ngClass]="{ available: status == 'Available', pending: status == 'Pending', booked: status == 'Booked' }"
      >
        {{ status }}
      </div> -->

      <div *ngIf="isPending_LANDLORD" class="AcceptReject">
        <div matRipple>Accept</div>
        <div matRipple>Reject</div>
      </div>
      <!-- <div class="Landlord"> Prajeet</div> -->
    </div>
  </div>
</div>
