<div style="padding-top: 5rem; background-color: #ebebeb">
  <div class="headTop">
    <div class="title">
      <h2>A Fresh New Way To Book Room Online</h2>
      <p>
        Get rid of long sweaty hassle and bureaucracies. We come in handy helping you rent a room in few easy steps.
      </p>
    </div>
  </div>
  <div class="whySection">
    <h2>Why use KUoom to rent?</h2>

    <h5>Discover our perks and benefits</h5>

    <div class="whyCards">
      <div class="card card1">
        <div class="icon-image">
          <img src="../../../../assets/img/undraw_happy_news_hxmt.svg" alt="" />
        </div>
        <div class="card-details">
          <h4>Easy finding room</h4>
          <p>
            Your time is valuable, so every minute you spend learning counts. We work with the leading expert in every
            field to carefully create the notes for every field of your study
          </p>
        </div>
      </div>
      <div class="card card2">
        <div class="icon-image">
          <img src="../../../../assets/img/undraw_random_thoughts_xejj.svg" alt="" />
        </div>
        <div class="card-details">
          <h4>Easy finding room</h4>
          <p>
            Your time is valuable, so every minute you spend learning counts. We work with the leading expert in every
            field to carefully create the notes for every field of your study
          </p>
        </div>
      </div>
      <div class="card card3">
        <div class="icon-image">
          <img src="../../../../assets/img/undraw_happy_news_hxmt.svg" alt="" />
        </div>
        <div class="card-details">
          <h4>Easy finding room</h4>
          <p>
            Your time is valuable, so every minute you spend learning counts. We work with the leading expert in every
            field to carefully create the notes for every field of your study
          </p>
        </div>
      </div>
    </div>

    <div class="stepsBlock">
      <div class="steps">
        <div class="number">
          <h4>1</h4>
        </div>
        <div class="details">
          <h3>Search for the room you want to call home</h3>
          <p>Use our filters to select: rent price, bedroom features, location and accommodation type.</p>
        </div>
      </div>
      <div class="steps">
        <div class="number">
          <h4>2</h4>
        </div>
        <div class="details">
          <h3>Make a booking request</h3>
          <p>
            Click on the ' Request to Book' and the in 48 hours the respective owners will contact you to make a deal.
          </p>
        </div>
      </div>
      <div class="steps">
        <div class="number">
          <h4>3</h4>
        </div>
        <div class="details">
          <h3>Get Approved</h3>
          <p>Once you are satisfied with you room and booking, get Approved and sign a contract to seal itp></p>
        </div>
      </div>
      <div class="steps">
        <div class="number">
          <h4>4</h4>
        </div>
        <div class="details">
          <h3>Move In</h3>
          <p>Move in to you new Home as per you dated time and date!</p>
        </div>
      </div>
    </div>
  </div>
</div>
