<div class="main-container">

    <div class="filtersidenav">

    </div>
    <div class="rightside">
        <div class="top">
            <div class="sortby">
                Sort By:
            </div>
            <div class="resultsfound">
                {{products.length}} Results Found
            </div>
        </div>
        <div class="mid-notification">
            <div class="main-notification">
                This month is very Popular for new students/ cutomers to pre-book the room.
            </div>
            <div class="sub-notification">
                Book your place before you miss out the chance
            </div>

        </div>
        <div  class="product-display">
            
            <div (click)="RoomProfileNavigate()" *ngFor="let product of products" class="product-card">
               <img src="{{product.url}}" class="product-img" alt="">
                <div class="product-details">
                    <div class="top1">
                        <div class="title">
                            {{product.title}}
                        </div>
                    
                        <div (click)="updatelike(product)" class="love" [ngClass]="{'like':product.like}">
                        </div>
                    </div>

                    <div class="top2">
                        <div class="subtitle">
                            {{product.subtitle}}
                        </div>
                    </div>
                    <div class="top3">
                        <span class="location-icon material-icons">
                            room
                            </span>
                        <div class="location">
                            {{product.location}}
                        </div>
                    </div>
                    <div class="price">
                        <span class="mainprice"> {{product.price}}</span>
                        <span class="permonth">/month</span>
                    </div>
                    <div class="bottom1">
                        <div class="date"> {{product.date}} </div>
                        <div class="status">  {{product.status}}  </div>
                        <!-- <div class="Landlord"> Prajeet</div> -->
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>