.main-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  background-color: #ebebeb;
}

.midContainer {
  /* background-color: red; */
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.filtersidenav {
  width: 18%;
  min-width: 260px;
  margin-left: 2rem;
  margin-top: 8rem;
  border-radius: 3rem;
  background-color: white;
  height: fit-content;
  padding: 2.5rem;
}

.rightside {
  margin-left: 2rem;
  margin-top: 8rem;
  margin-right: 1.5rem;
  border-radius: 3rem;
  width: 77%;
  height: 90vh;
  background-color: transparent;
}

.selectedFilters {
  /* background-color: tomato; */
  padding-top: 1rem;
}

.top {
  height: 3vh;
}

.sortby {
  float: left;
}

.resultsfound {
  float: right;
}

.mid-notification {
  height: fit-content;
  padding: 1.1rem;
  padding-top: 1.3rem;
  border-radius: 1rem;
  color: white;
  /* background: #ff5757; */
}

.main-notification {
  font-size: 2rem;
  font-weight: lighter;
}

.sub-notification {
  margin-top: 0.7rem;
  font-size: 1.7rem;
  font-weight: lighter;
}

.product-display {
  padding-top: 0.5rem;
  /* background-color: tomato; */
  height: 90vh;
}

.placetype {
  padding-top: 1rem;
}
.placetype h4 {
  /* background: #1A4789; */
  font-weight: 550;

  margin-bottom: 0.3rem;
}

.PlaceType_checkBoxes {
  display: flex;
  flex-direction: column;
  padding: 0%;
  /* background: red; */
}

.priceRange {
  padding-top: 1.3rem;
}

.priceRange h4 {
  margin-bottom: 0%;
  /* background-color: yellow; */
}

/* .priceRange .Slider{
    background-color: violet;
} */

.Services {
  padding-top: 1rem;
}
.Verification {
  padding-top: 1rem;
}

.Services h4,
.Verification h4,
.AvailableFromDate h4,
.location h4 {
  margin: 0%;
  font-weight: 550;
}
.locationSelect {
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.filter_listIcon {
  display: none;
}
@media (max-width: 990px) {
  .midContainer {
    /* background-color: red; */
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .rightside {
    /* background-color: chartreuse; */
    padding: 0px;
    width: 100%;
    margin: 1rem;
  }

  .mid-notification .main-notification {
    font-size: 1.5rem;
  }

  .mid-notification .sub-notification {
    font-size: 1rem;
  }

  .price {
    margin: 0%;
  }

  .bottom1 {
    width: 98%;
    /* background-color: lightgreen; */
  }
  .status {
    text-align: center;
    border-radius: 5px;
    margin-top: -0.8rem;
    width: fit-content;
    color: white;
    height: fit-content;
    background: #ff5757;
  }
}

@media (max-width: 880px) {
  .sortby {
    display: none;
  }
  .rightside .top {
    margin-bottom: 5px;
  }
  .filter_listIcon {
    display: inline;
    width: 10px;
    height: 10px;
  }
  .main-container {
    padding: 0.5rem;
    padding-top: 4rem;
  }

  .filtersidenav {
    width: 18%;
    min-width: 260px;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: 3rem;
    background-color: white;
    height: fit-content;
    padding: 2.5rem;
  }

  .filter-title {
    display: flex;
    justify-content: space-between;
  }

  .filtersidenav.main-container {
    display: none;
  }
}
