<div class="Profiles">
  <div class="ProfilesFlex">
    <div class="details">
      <h2>My Account Details</h2>
      <div class="ProfileInfo">
        <div class="FirstLastNameBox">
          <div>
            <b> First Name: </b>
            <br />
            <p>{{ FirstName }}</p>
          </div>
          <div>
            <b> Last Name:</b>
            <br />
            <p>{{ LastName }}</p>
          </div>
        </div>
        <div class="EmailPhoneBox">
          <div>
            <b> Email: </b>
            <br />
            <p>{{ Email }}</p>
          </div>
          <div>
            <b> Phone Number:</b>
            <br />
            <p>{{ Phone }}</p>
          </div>
        </div>
        <div style="padding: 1rem; padding-top: 2.5rem; width: fit-content">
          <button style="margin: 0 auto; background-color: green; color: white" mat-flat-button>Edit</button>
        </div>
      </div>
    </div>

    <div class="details">
      <h2>Notification Communication</h2>
      <div class="ProfileInfo">
        <div style="font-weight: lighter">
          Stay up to date with special offers and policy updates
          <h3 style="padding-top: 0.8rem">How would you like to hear from us?</h3>
          <div>
            <form class="config-form" [formGroup]="ConfigForm" (ngSubmit)="onConfigSubmit()">
              <mat-slide-toggle formControlName="email">Via Email</mat-slide-toggle>
              <br />
              <mat-slide-toggle formControlName="phone" style="margin-top: 1.5rem">Via Phone</mat-slide-toggle>

              <button mat-raised-button type="submit" style="margin-top: 1.5rem">Save Settings</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="info">
    <div class="DeleteAccount">
      <p>
        Up to date with If you delete your account,
        <br />
        please keep the following in mind:
      </p>
      <ul>
        <li>Your profile will be permanently deleted, including information about previous bookings</li>
        <li>There is some data that we are legally required to keep offers and policy updates</li>
      </ul>
      <div>
        <button style="margin: 0 auto; background-color: crimson; color: white" mat-flat-button>Delete Account</button>
      </div>
    </div>
  </div>
</div>
