/*NAV SECTION*/

.maincontainer {
  padding: 0%;
  margin: 0%;
  height: 100vh;
  background: #f4b436;
  z-index: 10000000;
}

ul {
  list-style: none;
}
.btnMenuProfile {
  margin-left: -12px;
}
.profile-img {
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.main-head.Index {
  /* background: rgba(246, 177, 27, 0.5); */
  background-color: transparent;
  height: fit-content;
  width: 100%;
  z-index: 10000000;
  transition: 0.2s all ease-in;
  padding-top: 0.2%;
  position: fixed;
}

.main-head.Index .left-nav-links.hide {
  display: none;
}

.search-bar {
  display: none;
}
.main-head.Index .search-bar.scrollNav {
  display: flex;
  /* background-color: rebeccapurple; */
  width: fit-content;
  transition: 0.7s all ease-in;
  animation: searchBarAnimationtoDown 0.7s ease;
}

.search-bar.scrollNav input {
  background: white;
  font-weight: normal;
  padding: 1rem;
  padding-right: 2.5rem;
  /* width: (fit-content + 100px); */
  margin: 1rem;
  border: none;
  border-radius: 1rem;
  color: black;
}
.TranlateButton {
  color: white;
  cursor: pointer;
}
.TranlateButton:hover {
  font-weight: bold;
}

.navSearchBar {
  margin-top: 1.3rem;
  color: #f6b21b;
  /* padding: 1rem; */
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
}
.search {
  background: #f6b21b;
  /* display: none; */
  width: 3rem;
  height: 3rem;
  margin-top: 1.3rem;
  background: url('src/assets/Icon/search-white-18dp.svg') no-repeat #f6b21b;
  background-size: cover;

  border-radius: 50%;
  border: none;
  cursor: pointer;

  box-shadow: 5px 5px 10px #e2a419, -5px -5px 10px #ffc01d;
}
.search-icon {
  width: 2rem;
  margin: 1.2rem;
}

@keyframes searchBarAnimationtoDown {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: skew(0deg);
  }
}

.main-head.white {
  /* background: rgba(246, 177, 27, 0.5); */
  background-color: rgba(246, 177, 27);
  /* box-shadow: 5px 5px 0px #e8ab33, -5px -5px 0px #ffbd39; */
  height: fit-content;
  width: 100%;
  z-index: 10000000;
  padding-top: 0.2%;
  position: fixed;
}

.main-head {
  background: rgba(246, 177, 27);
  height: fit-content;
  width: 100%;
  z-index: 10000000;
  padding-top: 0.2%;
  position: fixed;
}
nav {
  display: flex;
  /* background-color: tomato; */
  width: 95%;
  margin: 0 0 0 auto;
  z-index: 2;
  font-weight: 480;
}
#logo {
  /* background-color: red; */
  display: flex;
  border: none;
  /* justify-content: center; */
  align-items: center;
  flex: 1 1 20rem;
}
#logo .logo {
  background: url('src/assets/Logo/KUoomLOGO2.png');
  background-size: 100% 100%;
  height: 40px;
  width: 110px;
  /* background-color: tomato; */
  border: none;

  background-repeat: no-repeat;
  cursor: pointer;
}
#logo .logo:focus {
  background: url('src/assets/Logo/KUoomLOGO2.png');
  background-size: 100% 100%;

  outline: none;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
}

#logo img {
  width: 10%;
  height: auto;
  border: none;
  cursor: pointer;
}
.left-nav-links {
  /* background-color: tomato; */
  display: flex;
  list-style: none;
  transition: 0.2s all ease-in;

  /* flex: 1 1 20rem; */

  align-items: center;
}

.left-nav-links.Index {
  /* background-color: tomato; */
  display: flex;
  list-style: none;
  /* flex: 1 1 20rem; */
  margin: 0 auto;

  align-items: center;
}
.left-nav-links li {
  margin: 0 2rem;
  font-style: normal;
  cursor: pointer;
  color: white;
  font-size: 1.4rem;
}
.right-nav-links {
  display: flex;
  margin-top: 1rem;
  color: white;
  align-items: center;
}

.profile {
  display: flex;
  margin-top: 0.2rem;
  color: white;
  margin-right: 1rem;
  align-items: center;
}
.profile-img {
  border-radius: 100%;

  width: 35px;
  height: 35px;
}
.right-nav-links li {
  margin: 0 2rem;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
.right-nav-links li:hover,
.left-nav-links li:hover {
  color: #cfe2ff;
  text-decoration: underline;
}

ul li:focus {
  border: none;
}

.mobileMenu {
  display: none;
}
@media (max-width: 580px) {
  .mobileMenu {
    display: block;
  }
  .maincontainer {
    padding: 0%;
    margin: 0%;
    height: 100vh;
    background: transparent;
    z-index: 10000000;
  }

  .main-head.Index {
    background: transparent;
    height: fit-content;
    width: 100%;

    z-index: 10000000;
    padding-top: 0.2%;
    position: fixed;
  }

  .main-head {
    background: rgba(246, 177, 27);
    height: fit-content;
    width: 100%;

    z-index: 10000000;
    padding-top: 0.2%;
    position: fixed;
  }
  nav {
    display: flex;
    /* background-color: tomato; */
    width: 95%;
    margin: 0 0 0 auto;
    z-index: 2;
    font-weight: 600;
  }
  #logo {
    display: flex;
    border: none;
    /* justify-content: center; */
    align-items: center;
    width: 30%;
    /* background-color: rebeccapurple; */
  }
  #logo .logo {
    background: url('src/assets/Logo/KUoomLOGO2.png');
    background-size: 100% 100%;
    height: 5.5vh;
    width: 30%;
    /* background-color: tomato; */
    border: none;

    background-repeat: no-repeat;
    cursor: pointer;
  }
  #logo .logo:focus {
    background: url('src/assets/Logo/KUoomLOGO2.png');
    background-size: 100% 100%;
    height: 5.5vh;
    width: 30%;

    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  #logo img {
    width: 10%;
    height: auto;
    border: none;
    cursor: pointer;
  }
  .left-nav-links,
  .left-nav-links.Index {
    display: none;
  }
  .left-nav-links li {
    margin: 0 2rem;
    font-style: normal;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
  }
  .right-nav-links {
    display: none;
    margin-top: 1rem;
    color: white;
    align-items: center;
  }

  .profile {
    display: none;
  }
  .profile-img {
    border-radius: 100%;

    width: 40px;
    height: 40px;
  }
  .right-nav-links li {
    margin: 0 2rem;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .right-nav-links li:hover,
  .left-nav-links li:hover {
    color: #1a4789;
  }

  ul li:focus {
    border: none;
  }
}
