
/*NAV SECTION*/

.maincontainer{
    padding: 0%;
    margin: 0%;
    height: 100vh;
    z-index: 10000000;
  }
  
  ul{
      list-style: none;
  }

  .profile-img{
    border-radius: 100%;
    width: 45px;
    height: 45px;
  }
    .main-head{
      background: rgba(246, 177, 27,0.5);
      height: 7vh;
      width: 100%;
      z-index: 10000000;
      padding-top: .2%;
      position: fixed;
    }

    .main-head.SearchRoom{
      background: rgba(246, 177, 27);
      height: 7vh;
      width: 100%;
      /* padding-top: 8px; */
      position: fixed;
    }
    nav {
      display: flex;
      /* background-color: tomato; */
      width: 95%;
      margin: 0 0 0 auto;
      z-index: 2;
      font-weight: 600;
    }
    #logo {
      display: flex;
      border: none;
      flex: 1 1 20rem;
    }
     #logo .logo {
      background: url("src/assets/Logo/KUoomLOGO2.png");
      background-size: 100% 100%;
      height: 5vh;
      width: 10%;
      border: none;
      margin-top: .2%;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    #logo .logo:focus {
      background: url("src/assets/Logo/KUoomLOGO2.png");
      background-size: 100% 100%;
      height: 5vh;
      width: 10%;
      
      border: none;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    
    #logo img {
      width: 10%;
      height: auto;
      border: none;
      cursor: pointer;
    }
    .left-nav-links {
      display: flex;
      list-style: none;
      flex: 1 1 20rem;
      margin-top: 1rem;
      align-items: center;
    }
    .left-nav-links li {
      margin: 0 2rem;
      font-style: normal;
      cursor: pointer;
      color: white;
      font-size: 1.4rem;
    }
    .right-nav-links {
      display: flex;
      margin-top: 1rem;
      color: white;
      align-items: center;
    }

    .profile{
    display: flex;
    margin-top: .2rem;
    color: white;
    margin-right: 1rem;
    align-items: center;
    }
    .profile-img{
      border-radius: 100%;
    
      width: 40px;
      height: 40px;
    }
    .right-nav-links li {
      margin: 0 2rem;
      color: white;
      font-size: 1.4rem;
      cursor: pointer;
    }
    .right-nav-links li:hover,
    .left-nav-links li:hover {
      color: #1A4789;
    }

    ul li:focus{
      border: none;
    }