<div class="maincontainer">
  <mat-progress-bar
    *ngIf="loading"
    mode="indeterminate"
    style="position: fixed; z-index: 999999999999999999"
  ></mat-progress-bar>
  <header
    class="main-head"
    id="main-head-id"
    [ngClass]="{ Index: NavRouteUpdateFlag.Index, '': !NavRouteUpdateFlag.Index }"
  >
    <nav>
      <div id="logo">
        <div [routerLink]="['/cover/index']" class="logo"></div>
        <ul class="left-nav-links" [ngClass]="{ Index: NavRouteUpdateFlag.Index, '': !NavRouteUpdateFlag.Index }">
          <div class="left-nav-links" id="left-nav-links">
            <li (click)="ToHowdoesthisworkPage()">{{ 'Navbar.Howdoesthiswork' | translate }}</li>
            <!-- <li>{{ 'Navbar.LandlordPortal' | translate }}</li> -->
            <!-- <li (click)="goToAboutPage()">{{ 'Navbar.Aboutus' | translate }}</li> -->
          </div>
          <div class="search-bar" id="search-bar">
            <input
              matInput
              [matDatepicker]="picker"
              type="datetime"
              placeholder=" {{ 'index.dataPlaceHolder' | translate }} "
            />
            <mat-datepicker-toggle
              style="margin-left: -4.5rem; margin-top: 0.8rem"
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <!-- <img src="/" alt="" /> -->
            <!-- <mat-icon class="navSearchBar" aria-hidden="false" aria-label="Example home icon">search</mat-icon> -->
            <div class="search" (click)="search()"></div>
          </div>
        </ul>
      </div>

      <div class="mobileMenu">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon style="color: white">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="MyProfile()" *ngIf="isLoggedin" mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span style="margin-right: 0px"> {{ 'Navbar.Welcome' | translate }}, {{ username }}</span>
          </button>
          <button (click)="MyProfile()" *ngIf="isLoggedin" mat-menu-item>
            <mat-icon>dashboard</mat-icon>
            <span> {{ 'Navbar.MyDashboard' | translate }}</span>
          </button>
          <button (click)="gotoregister()" *ngIf="!isLoggedin" mat-menu-item>
            <mat-icon>how_to_reg</mat-icon>
            <span> {{ 'Navbar.Register' | translate }} </span>
          </button>
          <button [routerLink]="['/auth/login']" *ngIf="!isLoggedin" mat-menu-item>
            <mat-icon>login</mat-icon>
            <span> {{ 'Navbar.LogIn' | translate }} </span>
          </button>

          <button mat-menu-item>
            <mat-icon>search</mat-icon>
            <span> {{ 'Navbar.FindMeaRoom' | translate }} </span>
          </button>
          <button *ngIf="isLoggedin" (click)="logout()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>{{ 'Navbar.Logout' | translate }} </span>
          </button>
        </mat-menu>
      </div>
      <ul class="right-nav-links" *ngIf="!isLoggedin">
        <li (click)="gotoregister()">{{ 'Navbar.Register' | translate }}</li>
        |
        <li [routerLink]="['/auth/login']">{{ 'Navbar.LogIn' | translate }}</li>
      </ul>
      <ul class="profile" *ngIf="isLoggedin">
        <span style="margin-right: -6px">{{ 'Navbar.Welcome' | translate }},</span>
        <!-- <img *ngIf="!imgUrlCheck" class="profile-img" src="assets/Icon/roomprofile/user.png" alt="" /> -->
        <!-- <img *ngIf="imgUrlCheck" class="profile-img" src="{{ imgURL }}" alt="" /> -->

        <span style="margin-left: 0px">
          <button mat-button [matMenuTriggerFor]="menu" style="border-radius: 30px">
            <img class="profile-img" src="{{ imgUrlCheck ? imgURL : 'assets/Icon/profile.png' }}" alt="" />

            {{ username }}
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="MyProfile()">
              <mat-icon>dashboard</mat-icon> <span class="btnMenuProfile">{{ 'Navbar.MyDashboard' | translate }}</span>
            </button>
            <button mat-menu-item (click)="search()">
              <mat-icon>search</mat-icon>
              <span class="btnMenuProfile"> {{ 'Navbar.FindMeaRoom' | translate }} </span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon> <span class="btnMenuProfile"> {{ 'Navbar.Logout' | translate }}</span>
            </button>
          </mat-menu>
        </span>
      </ul>
    </nav>
  </header>

  <router-outlet></router-outlet>
</div>
