<div class="first-section">
    <header class="main-head">
       
    </header>
    <section class="mid-container ">
        <div class="mid-container-title">
            <h2>Find Your Room In KUoom</h2>
            <p>Especially For the Students of Kathmandu University</p>
        </div>
        <div class="search-bar">
            <input matInput [matDatepicker]="picker" placeholder="Choose Your Arrival Date">
            <mat-datepicker-toggle style="margin-left: -4.5rem; margin-top: .8rem;" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <img src="/" alt="">
            <!-- <input type="text" name="furnished" placeholder="Furnished">
            <input type="text" name="price range" placeholder="Price Range"> -->

            <div (click)="search()" class="search">
              
            </div>
        </div>
    </section>

</div>

<section class="section-reach">
        <img class="image-back" src="../../../../assets/Icon/frontpage2flower.png" alt="">
        
    <h3>Our Reach</h3>

    <div class="container">
        <div class="first-row">
            <ul>
                <li class="gallery">
                    <figure class="city-photo city-photo-1">
                        <img src="../../../../assets/img/Image1Page2.png" alt="">
                        <figcaption>Banepa</figcaption>
                    </figure>
                </li>
                <li class="gallery">
                    <figure class="city-photo city-photo-1">
                        <img src="../../../../assets/img/Image2Page2.png" alt="">
                        <figcaption>Banepa</figcaption>
                    </figure>
                </li>
                <li class="gallery">
                    <figure class="city-photo city-photo-1">
                        <img src="../../../../assets/img/Image3Page2.png" alt="">
                        <figcaption>Kathmandu</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <div class="second-row">
            <ul>
                <li class="gallery">
                    <figure class="city-photo city-photo-1">
                        <img src="../../../../assets/img/Image4Page2.png" alt="">
                        <figcaption>Banepa</figcaption>
                    </figure>
                </li>
                <li class="gallery">
                    <figure class="city-photo city-photo-1">
                        <img src="../../../../assets/img/Image1Page2.png" alt="">
                        <figcaption>Banepa</figcaption>
                    </figure>
                </li>
                <li class="gallery">
                    <figure class="city-photo city-photo-1">
                        <img src="../../../../assets/img/Image1Page2.png" alt="">
                        <figcaption>Banepa</figcaption>
                    </figure>
                </li>


            </ul>
        </div>
        <img src="../../../../assets/Icon/frontpage2flower2.png" class="image-lower" alt="">
    </div>
    <div class="reach-text">
        <h3>Do you want to rent your room?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus incidunt voluptatem saepe explicabo
            facere iusto architecto reiciendis, omnis tenetur. Recusandae!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam laboriosam, exercitationem deserunt
            provident sunt fugiat deleniti natus numquam incidunt, et voluptate perferendis asperiores distinctio
            aut quasi sapiente inventore. Ipsa, aut?
        </p>

        <button>Yes!</button>
    </div>
</section>

<section class="section-bookUs">
    <img class="image-back" src="../../../../assets/Icon/frontpage2flower.png" alt="">
    <h3>Do book with KUoom?</h3>
    <div class="last-container">
        <div class="card">
            <img src="../../../../assets/Icon/page3symbol1.png" alt="">
            <h1>Fast process </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipi
                sicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illo libero, quam
                temporibus modi accusamus illum. Nobis earum neque, odio doloribus modi, numquam, expedita maxime
                voluptatem eos sed dolorum. Nulla. Aliquid, iusto.</p>
        </div>
        <div class="card">
            <img src="../../../../assets/Icon/page3symbol2.png" alt="">
            <h1>No More Hours of Walking</h1>
            <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor atque magni quos nobis odit,
                commodi eius ducimus natus placeat explicabo quidem excepturi recusandae deserunt? Quod dolore
                architecto aut enim deserunt. ipsum dolor sit amet consectetur adipi
                sicing elit. Aliquid, iusto.</p>
        </div>
        <div class="card">
            <img src="../../../../assets/Icon/page3symbol3.png" alt="">
            <h1>Guranteed Room</h1>
            <p>Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi ad atque odio totam rem
                dignissimos aliquid voluptatibus neque fugiat voluptate dolorem sit, laborum excepturi, nemo
                officiis vel beatae, esse ullam? ipsum dolor sit amet consectetur adipi
                sicing elit. Aliquid, iusto.</p>
        </div>
    </div>
    <button>Find me a room</button>
</section>

<footer>
    <div class="logo"></div>
    <h1>Find your room with us</h1>
    <ul>
        <li><a href="#">Links</a></li>
        <li><a href="#">Links</a></li>
    </ul>

</footer>