<div class="superContainer">
  <div class="first-section">
    <section class="mid-container">
      <div class="mid-container-title">
        <h2>{{ 'index.mainTitle' | translate }}</h2>
        <p style="margin-top: 20px">{{ 'index.subTitle' | translate }}</p>
      </div>
      <button class="showRoomsBtn" (click)="search()">Show me the rooms</button>

      <!-- <div *ngIf="!searchBarStatus" class="search-bar">
        <form [formGroup]="FilterAvailableDateForm" style="display: flex">
          <input
            matInput
            [matDatepicker]="picker"
            type="text"
            formControlName="date"
            (dateChange)="datechange($event)"
            placeholder=" {{ 'index.dataPlaceHolder' | translate }} "
            onfocus="(this.type='date')"
          />

          <img src="/" alt="" />
          <div (click)="search()" class="search"></div>
        </form>
      </div> -->
      <div *ngIf="lang == 'np'" class="TranlateButton" (click)="translate('en')">Translate to English</div>
      <div *ngIf="lang == 'en'" class="TranlateButton" (click)="translate('np')">नेपालीमा अनुवाद गर्नुहोस्</div>
    </section>
  </div>

  <section class="section-reach">
    <img class="image-back" loading="lazy" data-src="assets/Icon/frontpage2flower.png" alt="" />

    <h3>Our Reach</h3>

    <div class="container">
      <div class="first-row">
        <ul>
          <li class="gallery">
            <figure class="city-photo city-photo-1">
              <img loading="lazy" data-src="assets/img/Image1Page2.png" height="160" width="240" alt="" />
              <figcaption>Banepa</figcaption>
            </figure>
          </li>
          <li class="gallery">
            <figure class="city-photo city-photo-1">
              <img loading="lazy" data-src="assets/img/Image2Page2.png" height="160" width="240" alt="" />
              <figcaption>Dhulikhel</figcaption>
            </figure>
          </li>
          <li class="gallery">
            <figure class="city-photo city-photo-1">
              <img loading="lazy" data-src="assets/img/Image3Page2.png" height="160" width="240" alt="" />
              <figcaption>Budol</figcaption>
            </figure>
          </li>
        </ul>
      </div>
      <div class="second-row">
        <ul>
          <li class="gallery">
            <figure class="city-photo city-photo-1">
              <img loading="lazy" data-src="assets/img/Image4Page2.png" height="160" width="240" alt="" />
              <figcaption>28 Kilo</figcaption>
            </figure>
          </li>
          <li class="gallery">
            <figure class="city-photo city-photo-1">
              <img loading="lazy" data-src="assets/img/Image1Page2.png " height="160" width="240" alt="" />
              <figcaption>Khadpu</figcaption>
            </figure>
          </li>
          <li class="gallery">
            <figure class="city-photo city-photo-1">
              <img loading="lazy" data-src="assets/img/Image1Page2.png" height="160" width="240" alt="" />
              <figcaption>Vyandol</figcaption>
            </figure>
          </li>
        </ul>
      </div>
      <!-- <img
        loading="lazy"
        data-src="assets/Icon/frontpage2flower2.png"
        class="image-lower"
        height="160"
        width="240"
        alt=""
      /> -->
    </div>
    <div class="reach-text">
      <h3>Why you want to rent your room?</h3>
      <p>
        KUoom is a platform created to make the process of finding the room more easier. KUoom is specially for the
        students of Kathmandu University as it acts as a bridge between students and house-owners to find the best room
        around the university area.
      </p>

      <button class="btn">Yes!</button>
    </div>
  </section>

  <section class="section-bookUs">
    <img
      loading="lazy"
      class="image-back"
      data-src="assets/Icon/frontpage2flower.png"
      height="160"
      width="240"
      alt=""
    />
    <h3>Why book with KUoom?</h3>
    <div class="last-container">
      <div class="card">
        <img loading="lazy" data-src="assets/Icon/page3symbol1.png" alt="" />
        <h1>Fast process</h1>
        <p>
          You don't have to take a day or two off for going on field and searching a room you would desire to call your
          home. The process of booking a room in KUoom is fast since you can book it in few clicks and get connected to
          house-owners in few minutes.
        </p>
      </div>
      <div class="card">
        <img loading="lazy" data-src="assets/Icon/page3symbol2.png" alt="" />
        <h1>No More Hours of Walking</h1>
        <p>
          Are you tired of walking and finding the room that best suits you? Don't worry , now you can take few minutes
          to browse the perfect room for you with KUoom. You can use the filters to select the room with your
          requirements in just a couple of minutes.
        </p>
      </div>
      <div class="card">
        <img loading="lazy" data-src="assets/Icon/page3symbol3.png" alt="" />
        <h1>Guranteed Room</h1>
        <p>
          The room you would find in KUoom is guranteed as we keep only the rooms that are available from our
          trustworthy house-owners. All the available rooms that you would see are checked and approved by the team of
          KUoom and exactly gives the information on how it is without sugarcoating and on the fair price.
        </p>
      </div>
    </div>
    <button class="btn" (click)="search()">Find me a room</button>
  </section>
  <app-footer></app-footer>
</div>
