<!-- <footer>
  <div class="midContainer">
    <div class="footerTop">
      <div class="first">
        <div class="footerLogo"></div>
        <div class="slogan">PREPARE | PRACTISE | EXCEL</div>
        <h6>About us</h6>
        <div class="aboutUs_body">
          My Parikshya is a team of youths working to help students and learners by providing them an easy solution to
          all of their entrance preparation in a single package
        </div>
        <h6>Contact Us</h6>
        <div class="aboutUs_body">
          <div>+9779865210899</div>
          <div>info@myparikshya.com</div>
        </div>
      </div>
      <div class="third">
        <h5>Important Links</h5>
        <div class="items">
          <ul>
            <li>Terms and Conditions</li>
            <li>Privacy Policy</li>
            <li>Payment Policy</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footerBottom">
      <div class="details">
        <div>Made by Chaitanya Design</div>

        <div>2020 MyParikshya. All rights reserved</div>
      </div>
    </div>
  </div>
</footer> -->

<footer>
  <div class="logo"></div>
  <h1>Find your room with us</h1>
  <ul>
    <li><a href="#">Links</a></li>
    <li><a href="#">Links</a></li>
  </ul>
</footer>
